<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta name="google-site-verification" content="eIXjvPN_JTpGbwY2EiSHk8JaYyUWtQa7CVr7EBXFQc4" />
<meta name="google-site-verification" content="ZHJKmSKpDU7fr8R8PULx5EKmdbI3EXT3xTtq9dI32bQ" />
<title>{{page.title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<link rel="stylesheet" href="/materialize/css/materialize.css"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
<script src="/materialize/js/materialize.js" type="text/javascript" charset="utf-8"></script>
<link href='http://fonts.googleapis.com/css?family=Ruda:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<script src="/scripts/main.js" type="text/javascript" charset="utf-8"></script>
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27610376-1']);
  _gaq.push(['_setDomainName', 'bentzen.ws']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>