<div id="sidebar">
	<a href="/">
		<img id="myface" src="/images/MyFace.jpg" alt="My Face">
	</a><br/>
	<div id="name">
		<span class="name" style="font-size:15pt;letter-spacing:0.1em;">shaun</span><br/><span class="name" style="font-size:13pt;">bentzen</span>
	</div>
	<ul class="unstyled">
	    <li><a href="/index.html">About</a></li>
	    <li><a href="/blog.html">Blog</a></li>
	    <li><a href="mailto:sbentzen@gmail.com">Contact</a></li>
		<li><br/></li>
	    <li><a href="https://github.com/sbentzen">Github</a></li>
	    <li><a href="https://plus.google.com/114535672384891706672">Google+</a></li>
	    <li><a href="http://ca.linkedin.com/pub/shaun-bentzen/2b/264/713">LinkedIn</a></li>
	    <li><a href="http://twitter.com/smbentzen">Twitter</a></li>
	</ul>
</div>
