/*
#7D6EFF
#5FB367
#6EFF7D
#CC766D
#FF7D6E
*/
body {
	font-size: 14pt;
	background: #333 url("/images/bgp.png") repeat scroll top left;
	text-shadow: 1px 1px 1px #333;
	color:#F3F3F3;
	margin-top:1em;
}
h2{
	font-family:'Ruda', sans-serif;
	color:#CC766D;
	border-bottom:1px solid #777;
}
h2:hover{
	color:#FF7D6E;
}
p{
	line-height:1.35em;
	font-size: 14pt;
}
a{
	text-decoration:none;
	color:#5FB367;
}
a:hover{
	text-decoration:none;
    color:#6EFF7D;
}
#myface{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	opacity:0.8;
	width:76px;
	height:76px;
}
#myface:hover{
	opacity:1.0;
}
#bio{
	width:750px;
}
#header_image{
	width:750px;
	display:block;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	text-decoration:none;
}
.container-fluid > .sidebar {
	position: fixed;
	top:1em;
	width:auto;
}
.sidebar ul{
	margin-top: 1em;
}
.sidebar li{
	line-height:1.1em;
}
.container-fluid > .content{
	width:960px;
	margin-left:6em;
}

.bottom-padded{
	padding-bottom:0.75em;
}

.name{
	text-transform: uppercase;
}
.gist{
	text-shadow:none;
}
.hidden{
	display:none;
}
.date{
	font-size:10pt;
}
.white-text {
	color:#F3F3F3;
}