/*
002F32
42826C
A5C77F
FFC861
C84663
*/
body {
	display:block;
	text-align:left;
	font: 14pt Arial, Helvetica,Verdana, sans-serif;
	background-image: url("../images/bgp.png");
	background-repeat: repeat;
	text-shadow: 1px 1px 1px #000;
	color:#F3F3F3;
}
div{
	display:block
}
h1{
	color:#C84663;
}
a{
	text-decoration:none;
	color:#A5C77F;
}
a:hover{
    color:#FFC861;
}
ul {
	padding:0;
	list-style: none;
}
#_sidebar{
	position:fixed;
	left:0em;
	top:0em;
	margin-left:1em;
	padding-top:4em;
	width:125px;
	height:100%;
}
.gist{
	text-shadow:none;
}
#post_listing{
	width:auto;
}
#post_listing li{
	padding-bottom:0.5em;
}

#content{
	width:900px;
	margin-left:135px;
}
#Image_Container{
	-webkit-transform: rotate(3deg) scale(1) skew(1deg) translate(10px);
	-moz-transform: rotate(-3deg) scale(1) skew(1deg) translate(10px);
	-o-transform: rotate(3deg) scale(1) skew(1deg) translate(10px);
	margin:0 auto;
	width:640px;
}
#LandingImage {
	width:640px;
	height:480px;                                                          
	display: block;
	background-image: url('../images/LandingImage.png');
	background-position:0px 0px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	text-decoration:none;
	border: 1px solid #333;
}
#LandingImage:hover {
	background-position:-640px 0px;
}
.hidden{
	display:none;
}
.date{
	font-size:10pt;
	
}