/*
#7D6EFF
#5FB367
#6EFF7D
#CC766D
#FF7D6E
*/
body {
	display:block;
	text-align:left;
	font: 14pt Arial, Helvetica,Verdana, sans-serif;
	background-image: url("/images/bgp.png");
	background-repeat: repeat;
	text-shadow: 1px 1px 1px #333;
	color:#F3F3F3;
	margin-top:1em;
}
div{
	display:block;
}
h2{
	font-family:'Ruda', sans-serif;
	color:#CC766D;
	border-bottom:1px solid #777;
}
h2:hover{
	color:#FF7D6E;
}
ul {
	padding:0;
	list-style: none;
}
p{
	line-height:1.35em;
}
a{
	text-decoration:none;
	color:#5FB367;
}
a:hover{
    color:#6EFF7D;
}

#sidebar{
	position:fixed;
	padding-left:1em;
	top:1em;
	width:125px;
	height:100%;
}
#post_listing{
	width:auto;
}
#post_listing li{
	padding-bottom:0.5em;
}
#myface{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	opacity:0.8;
	width:76px;
	height:76px;
}
#myface:hover{
	opacity:1.0;
}
#bio{
	width:750px;
	margin:0 auto;
}
#content{
	width:800px;
	margin-left:135px;
}
#header_image{
	width:750px;
	display:block;
	margin:0 auto;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	text-decoration:none;
}
.name{
	text-transform: uppercase;
}
.gist{
	text-shadow:none;
}
.hidden{
	display:none;
}
.date{
	font-size:10pt;
}