<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    	<meta name="google-site-verification" content="eIXjvPN_JTpGbwY2EiSHk8JaYyUWtQa7CVr7EBXFQc4" />
    	<title>{{page.title}}</title>
    	<base href="http://localhost/~sbentzen/sbentzen.github.com/_site/">
    	<script src="scripts/jquery.js" type="text/javascript" charset="utf-8"></script>
     <link rel="stylesheet" href="stylesheets/style.css" type="text/css" charset="utf-8">
    </head>
    <body>
      <h1>{{ title }}</h1>
      <p>{{ content }}</p>
    </body>
</html>